<nav>
    <!--<div id="contenedorBoton">
        <img src="../../../assets/hamburger_menu.png" (click)="showHide()">
    </div>-->
    <div id="contenedorBoton">
        <img src="../../../assets/icono_huella.png" (click)="showHide()">
        <!--<button (click)="showHide()">☰</button>-->
        <h3>Slogan de Roma Manualidades</h3>
    </div>
    <ul id="listaMenu">
        <li><a routerLink="Inicio" (click)="showHide()">Inicio</a></li>
        <li><a routerLink="retratos" (click)="showHide()">Retratos</a></li>
        <li><a routerLink="llaveros" (click)="showHide()">Llaveros</a></li>
        <li><a routerLink="imanes" (click)="showHide()">Imánes</a></li>
        <li><a routerLink="contacto" (click)="showHide()">Contacto</a></li>
    </ul>
    
</nav>
