<header>
    <h1>Bienvenidos</h1>
</header>
<main>
    <div id="contenido">
        <p>En Roma Manualidades entendemos el valor que tienen nuestras mascotas.</p>
        <br>
        <p>De hecho, el término mascotas les queda chico... para nosotros son miembros de la familia.<br>
           Sabemos que llegaron para alegrar nuestro hogar, nuestra familia y nuestra vida.</p>
           <br>
        <p>Ocuparán para siempre un lugar en nuestros corazones.</p><br>
        <p>Por eso, en <b>Roma Manualidades</b> te ofrecemos la posibilidad de inmortalizar ese lazo que formamos nuestras mascotas, para que 
           ese sentimiento tan puro por nuestros amigos fieles nos acompañe por siempre. </p><br>
        <p>
            Te invito a ver todas las muestras de amor que te puedo ofrecer para tu mascota.
        </p>
    </div>    
</main>
